{{#each posts as |posts|}}
  <section class="card">
    <div class="user-post" onclick="test()">
      <p id="post-title">
        {{posts.title}} 
      </p>
      <p id="post-author">
        by: 
        {{posts.user.username}}
      </p>
      <p id="post-date">
        {{posts.createdAt}}
      </p>
    </div>
  </section>
{{/each}}