{{!-- This is currently set up to see all users of the application --}}
{{!-- {{#each user as |user|}}
  {{!-- These values are based on the User model --}}
  <p>
    User:
    {{user.username}}
    - Identification Number:
    {{user.email}}
  </p>
  <p>
  </p>
{{/each}} --}}