{{#each userPosts as |post|}}
  <section class="card">
    <div class="user-post">
      <p id="post-title">
        {{post.title}}
      </p>
      <p id="post-date">
        {{post.createdAt}}
      </p>
    </div>
  </section>
{{/each}}