<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title" id="page-title">Create a new blog post!</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title"/>
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <textarea class="form-input" type="text" id="post-content"></textarea>
      </div>
      <div class="form-group form-btn">
        <button class="submit-btn" type="submit">Post!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/edit-post.js"></script>