
{{!-- This will display the user --}}
{{!-- {{#each user as |user|}}
<div>
    {{user.name}}
</div>
{{/each}} --}}

{{!-- This will display all the posts --}}
{{#each userPosts as |post|}}
<div>
    {{post.post}}
</div>
{{/each}}