<header class="container">
  <h1 class="text-container-header" id="title">Login</h1>
</header>
<br>
<div id="login-logout-section">
  <div id="login-card">
    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label id="custom-post-title" for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label id="custom-post-title" for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group form-btn">
        <button class="submit-btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <br>
  <div id="signup-card">
    <div class="container">
      <h1 class="text-container-header" id="title">Signup</h1>
    </div>
    <br>
    <form class="form signup-form" id="signup-form">
      <div class="form-group">
        <label id="custom-post-title" for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label id="custom-post-title" for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label id="custom-post-title" for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group form-btn">
        <button class="submit-btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>