<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title" id="page-title">Create a new blog post!</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" />
      </div>
      <div class="form-group">
        <label for="post-content" id="post-content">Content:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group" id="form-btn">
        <button class="btn btn-primary" type="submit" id="submit-post">Submit
          new post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/create-post.js"></script>