<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title" id="page-title">Leave a comment!</h2>
    <form class="form comment-form">
      <div class="form-group">
        <label for="post-content">Comment:</label>
        <textarea class="form-input" type="text" id="comment-content"></textarea>
      </div>
      <div class="form-group form-btn">
        <button class="submit-btn" type="submit">Post!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>