@media (max-width: 576px) {  }
@media (max-width: 768px) {  }
@media (max-width: 992px) { 
  .text-container-header {
    font-size: 25px;
  }

  .text-container-content {
    font-size: 15px;
  }
 }
@media (max-width: 1200px) {  }
@media (max-width: 1400px) {  }

* {
  font-family: "Open Sans", sans-serif;
}

body {
  text-align: center;
  background-color: #477998;
}

.custom-nav {
  background-color: #32292F!important;
}

.custom-nav-txt,
#title {
  color: #EDFFEC!important;
}

.custom-card {
  color: #667761!important;
}

#title {
  border-bottom: 3px solid #EDFFEC;
  margin-left: 30%;
  margin-right: 30%;
  width: auto;
}

.post-link {
  color: black;
  text-decoration: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#login-logout-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  text-align: left;
}

.create-post {
  text-align: right;
}

#nav-bar {
  padding: 10px;
}

#user-dashboard {
  margin-left: 40%;
  margin-right: 40%;
}

#user-name {
  font-size: 2.5rem;
  font-weight: bold;
  width: auto;
}

.user-post-header,
.user-post-content,
.comment-content,
.admin-posts {
  font-size: 20px;
  border: 2px solid #32292F;
  background-color: lightgray;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-card {
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 15px;
  background-color: #DABECA;
  border: 1px solid #32292F;
}

.custom-card-a {
  text-decoration: none;
  margin-right: 30%;
}

.custom-card-header,
.custom-admin-card {
  border-bottom: 1px solid #32292F;
}

.custom-admin-card {
  display: flex;
  justify-content: space-between;
}

.custom-card-footer,
.sub-doc {
  color: #EDFFEC;
  padding: 0;
}

.admin-post-content {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.comment-content {
  flex-direction: column;
  padding: 0px;
}

.all-posts-header,
.user-post-header {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.all-posts-content {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.user-post-content {
  font-size: 20px;
  border: 2px solid #32292F;
}

#post-date {
  font-size: 15px;
}

#new-post-btn,
.btn-confirm {
  margin-right: 20%;
  margin-left: 20%;
  font-size: 30px;
  padding: 5px;
  width: auto;
  border: 2px solid #32292F;
  background-color: lightgray;
  border-radius: 10px;
}


.nav-btn:hover,
.submit-btn:hover,
#new-post-btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

.post-card:hover 
.all-posts-header {
  background-color: darkgray;
}

.post-card:hover 
.all-posts-content {
  background-color: darkgray;
}

.post-card:hover 
.admin-posts {
  background-color: darkgray;
}

.post-form,
.edit-form,
.post-card,
.comment-card,
#login-card,
#signup-card,
#login-form,
#signup-form {
  margin-left: 30%;
  margin-right: 30%;
}

#remove-btn {
  width: auto;
}

.form-input {
  border: 2px solid #32292F;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}

#post-content {
  font-size: 20px;
  height: 120px;
  resize: none;
}

.form-header {
  font-size: 20px;
}

#post-title {
  font-size: 20px;
}

.form-btn {
  margin-left: 30%;
  margin-right: 30%;
}

.submit-btn {
  font-size: 20px;
  border: 2px solid #32292F;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}
